.modal {
    position: fixed;
    margin-left:34%;
    top: 20vh;
    height:5rem;
    width: 15rem;
    z-index: 10;
    background-color: white;
    font-weight: bold;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid blue;
}