.form{
    font-weight:bold;
    text-align: center;
    border:1px solid black;
    border-radius: 10px;
    font-family: times new roman;
    font-size: 18px;
    padding:10px;
    margin:7rem auto;
    background-color: tan;
    pointer-events: all;
}
.form input{
    width:100%;
}
.form select{
    width: 100%;
    height:33px;
    text-align: center;
    margin-right: 10px;
}
.form1{
    display:block;
    font-weight:bold;
    text-align: center;
    border:1px solid black;
    border-radius: 10px;
    font-family: times new roman;
    font-size: 18px;
    padding:10px;
    margin-top: -4rem;
    background-color: tan;
    margin-bottom: 16.2rem;
}
